---
layout: default
title: Home
nocover: "/img/front-bg.jpg"
---

<div class="container content">
  <h3>Latest Posts</h3>
  <ul class="recent-posts">
    {% for post in site.posts limit:10 %}
    <li>
      <a href="{{ post.url }}">
        <div>
          {% if post.tags contains "shorts" or post.tags contains "aside" or post.tags contains "note" %}
          <span class="title"><svg class="i-moleskin" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
            <path d="M2 6 L2 30 30 30 30 6 Z M2 22 L30 22 M7 3 L7 9 M13 3 L13 9 M19 3 L19 9 M25 3 L25 9" />
          </svg> {{ post.content | strip_html | truncatewords: 8 }}</span>
          {% else %}
          <span class="title">{{ post.title }}</span>
          {% endif %}
          <span class="date">{{ post.date | date: "%d %B %Y" }}</span>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
  <a href="/archives">Older posts &raquo;</a>

  <section class="instagram-photos">
    <h3>Latest Instagram Photos</h3>
    <script src="/js/instafeed.min.js"></script>
    <script type="text/javascript">
      var feed = new Instafeed({
        get: 'user',
        userId: '45852486',
        clientId: 'c24639f101144d32b11e8991ff42875b',
        accessToken: '45852486.c24639f.a4e127e5d6d74b41866c3b34765aad76',
        limit: '4',
      });
      feed.run();
    </script>
    <div id="instafeed"></div>
  </section>
</div>
