/* Variables */
$orange: #fd7f05;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-size: 16px;
  font-family: "AvenirNextLTW01-Regular", "Avenir Next", sans-serif;
  line-height: 1.6;
}

a {
  color: $orange;
}

header {
  h1 {
    color: #fff;
    font-size: 46px;
    font-family: "Avenir Next LT W01 Bold", "Avenir Next", sans-serif;
  }
}

.hero {
  height: 250px;
  background-position: center center;
  background-size: cover;
  text-align: center;
  h1 {
    background-color: $orange;
    display: inline-block;
    padding: 0 20px;
    line-height: 60px;
    margin-top: 90px;
  }
}

.logo {
  width: 50px;
  height: 50px;
  opacity: .75;
  position: fixed;
  top: 10px;
  left: 10px;
  transition: opacity 0.3s ease;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIiB2aWV3Qm94PSIwIDAgMTcxIDE3MSI+PGRlZnMvPjxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHNrZXRjaDp0eXBlPSJNU1BhZ2UiPjxjaXJjbGUgaWQ9Ik92YWwtMSIgZmlsbD0iI0ZGRkZGRiIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCIgY3g9Ijg1LjUiIGN5PSI4NS41IiByPSI4NS41Ii8+PHRleHQgaWQ9IkMiIHNrZXRjaDp0eXBlPSJNU1RleHRMYXllciIgZm9udC1mYW1pbHk9Ik5ldXRyYSBUZXh0IiBmb250LXNpemU9IjEyMCIgZm9udC13ZWlnaHQ9ImJvbGQiIGZpbGw9IiNGRDgwMDUiPjx0c3BhbiB4PSIzOSIgeT0iMTI2Ij5DPC90c3Bhbj48L3RleHQ+PC9nPjwvc3ZnPgo=") no-repeat center center;
  z-index: 1;
  &:hover {
    opacity: 1;
  }
}

.container {
  margin: 0 auto;
  max-width: 32rem;
  line-height: 1.6;
  hr {
    border: 0;
    height: 2px;
    width: 25%;
    background-color: $orange;
  }
}

.menu {
  text-align: center;
  margin-bottom: 50px;
  ul {
    padding-left: 0;
    a {
      text-decoration: none;
      padding: 5px 7px;
      -webkit-transition: background-color 0.3s ease;
      -moz-transition: background-color 0.3s ease;
      -ms-transition: background-color 0.3s ease;
      -o-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: rgba(253,127,5,0.1);
      }
    }
  }
  li {
    display: inline;
    margin: 0 7px;
  }
}

.content {
  padding: 0 2rem;
  .recent-posts {
    margin-bottom: 5rem;
    padding-left: 0;
    li {
      margin-bottom: 5px;
      list-style-type: none;
      div {
        padding: 5px 0;
      }
      .title {
        font-size: 1rem;
        padding: 0;
      }
      .date {
        float: right;
        font-size: 12px;
        text-transform: uppercase;
        color: rgba(0,0,0,0.2);
        line-height: 24px;
      }
    }
  }
  a {
    text-decoration: none;
    border-bottom: 2px solid #fecd9d;
    color: $orange;
  }
}

footer {
  margin-bottom: 2rem;
  .bio {
    color: rgba(0,0,0,0.2);
    float: right;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    a {
      text-decoration: none;
    }
  }
}
