---
layout: compress
---
<!DOCTYPE html>
<html>

{% include head.html %}

  <body class="{% if page.post_class %}{{page.post_class}}{% else %}home-template{% endif %}">

  {{ content }}
  <footer class="site-footer clearfix">
    <section class="copyright">
      <a href="{{ site.baseurl }}">{{ site.title }}</a> &copy;
            {{date format="YYYY"}} &bull; All rights reserved.
    </section>
  </footer>

    <!-- script type="text/javascript" src="/assets/js/jquery-1.11.1.min.js"></script -->
    <!-- script type="text/javascript" src="/assets/js/jquery.fitvids.js"></script -->
    <!-- script type="text/javascript" src="/assets/js/index.js"></script -->
  {% include google-analytics.html %}
  </body>
</html>
