---
layout: default
---

<div class="container content">
  <div class="date">
    May 19, 2015
  </div>

  {{ content }}
  <div class="closing">
    {% if page.next.url %}
      <a class="newer" href="{{page.next.url}}">
        <strong>Newer →</strong>
        {{page.next.title}}
      </a>
    {% endif %}
    {% if page.previous.url %}
      <a class="older" href="{{page.previous.url}}">
        <strong>← Older</strong>
        {{page.previous.title}}
      </a>
    {% endif %}
  </div>
</div>
