---
layout: default
---

<div class="container content">
  <div class="date">
    {{ page.date | date: "%d %B %Y" }}
  </div>
  {% include google-adsense-responsive.html %}
  {{ content }}
  <div class="closing">
    {% if page.next.url %}
      <a class="newer" href="{{page.next.url | remove: '.html'}}">
        <strong>Newer →</strong>
        {{page.next.title}}
      </a>
    {% endif %}
    {% if page.previous.url %}
      <a class="older" href="{{page.previous.url | remove: '.html'}}">
        <strong>← Older</strong>
        {{page.previous.title}}
      </a>
    {% endif %}
  </div>
  {% include google-adsense-responsive.html %}
</div>
